/*@import 'base/glob';
body{ 
	position: relative;
	overflow-x: hidden;
	max-width: 100vw;
	
	color: #333;
	
	font-family: 'Source Sans Pro';
	font-size: 18px;

	p {
		margin-bottom: 15px;
	}

}

#banner {
	background-image: url('/images/mountain-sky.png');
	background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  justify-content: center;
  align-items: center;
  color: #fff;

  .title {
  	font-size: 6em;
  	font-weight: normal;
  	font-family: 'Damion';
  }

  hr {
  	display: block;
  	width: 35%;
  }

  .sub-title {
  	font-size: 3em;
  	font-family: 'Ubuntu';
  	font-weight: 300;
  }

  .button-container {
  	position: absolute;
  	bottom: 10%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 100%;
  	left: 0;

  	@include narrow  {
  		display: none;
  	}
  	
  	pulse-button {
  		margin: 0px 17px;
  	}
  } 
}


#profile {
	section-content {
		display: flex;
	  flex-wrap: wrap;
	  justify-content: space-around;
	  align-items: center;

	  > * {
	    min-width: 420px;
	    max-width: 500px;
	    height: 500px;
	    min-height: 420px;
	    flex: 1;
	    margin: 15px;
	      
	    @include narrow {
	      width: 100%;
	    }
	  }

	  .profile-pic {
	  	width: 100%;
	    box-shadow: 0px 0px 10px 0px;
	  }

	  .skillbars {
		  margin-top: 25px;
	    align-self: stretch;
	    display: flex;
	    flex-direction: column;
	    justify-content:space-around;
	  }
	}
}

#resume {
	section-content {
		display: flex;
		justify-content: center;
		align-items:center;
	}
}

#services {
	section-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
}

#contact {
	section-content {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		
		.quote {
			font-family: 'Open Sans';
			font-style: italic;
			font-weight: 400;
			font-size: 30px;
			text-align: center;
			width: 100%;
			align-self: flex-start;
		}

		.media-links {
			display: flex;
			justify-content: center;
			width: 100%;
			align-self: flex-end;
		}
	}
}

#hire-me-page {
	section-content {

		@include narrow {
			width: 100%;
			min-width: 100%;
		}

		ul {
			@include narrow {
				width: 100%;
				min-width: 100%;
			}
		}
	}
}*/