.aboutView {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & .aboutContent {
    width: 100%;
    max-width: 1600px;
  }

  & .workAndEducation {
    & .infoBlock {
      margin-bottom: 24px;
    }
    & .work {
      margin-bottom: 16px;
    }
  }

  & .techAndLinks {
    & .tech {
      margin-bottom: 24px;
      & .chips {
        margin-left: -8px;
      }
    }

    & .socialLinks {
      margin-bottom: 24px;
      margin-left: -8px;
      & .socialIconButton {
        margin-right: 8px;
        color: rgba(0,0,0,0.8);
      }
    }

    & .resumeAndWork {
      & .linkButton {
        margin-bottom: 24px;
        & .icon {
          margin-left: 8px;
        }
        &:first-child {
          margin-right: 40px;
        }
      }
    }
  }
}
