.portfolioItemContainer {
  width: 100%;

  &:not(.narrowMode) {
    & .portfolioItem {
      & .imageContainer {
        padding: 24px;
      }
      & .details {
        padding: 24px;
      }
    }
  }

  & .portfolioItem {
    max-width: 1600px;

    & .imageContainer {
      & .previewImage {
        width: 100%;
        margin-top: -16px;
      }
    }

    & .details {
      & .title {
        display: block;
        margin-bottom: 8px;
      }

      & .caption {
        display: block;
        margin-bottom: 24px;
      }

      & .description {
        display: block;
        margin-bottom: 24px;
      }

      & .tech {
        margin-left: -8px;
        margin-bottom: 24px;
      }
    }
  }
}
