.workView {
  position: relative;
  z-index: 1;
  & .heading {
    background: rgb(124,77,255);
    background: linear-gradient(90deg, rgba(124,77,255, 0.54) 0%, rgba(255,255,255, 0) 100%);
    padding: 24px 16px;;
    margin: 48px 0;

    width: 100%;
    & .typography {
      padding: 8px 0;
    }

  }

  & .portfolioItem:not(:last-child) {
    margin-bottom: 160px;
  }
}
